<div class="row">
    <div class="col">
        <img src="/assets/avatarUtente.png">
    </div>
    <div class="col">
        <div class="row">
            <div class="col-3"><img class="email" src="/assets/email.png"> </div>

            <div class="col-9"><input type="text" name="email" placeholder="email"></div>

        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col"><img class="email" src="/assets/pass.png"> </div>
            <div class="col"><input type="password" name="password" placeholder="password" #password></div>
        </div>
    </div>
    <div class="col-3">

    </div>


    <!-- <img   src="/assets/avatarUtente.png"> 
        <br>
        <div class="center">
        <img class="email" src="/assets/email.png"> 
        <input type="text" name="email" placeholder="email">
        </div>
        <div class="center">
        <img class="email" src="/assets/pass.png"> 
        <input type="password" name="password" placeholder="password" #password>
        </div>
        <br>
        <div class="center">
        <button (click)="registrati(password.value)">Registrati</button>
        <button (click)="login()">Login</button> 
        
        </div> -->



</div>