

a {
    color: #e91e63;
    text-decoration: underline;
    text-align: left;
}
.titolo {
  color: blue;
  font-size: 22px;
  font-family: Georgia;
}


*, ::after, ::before {
    box-sizing: border-box;
    text-align: left;
}

button{
  float:right;
}
