<div class="container">
    <div class="row">
        <div class="col">
            <div class="row search-row">
                <div class="col">
                    <h1>SEARCH BRAND</h1>
                </div>
                <div class="col-6">
                    <form >
                        <div class="row input-row">
                            <div class="col-5">
                                <input class="" type="text" placeholder="type search here...">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-light" type="submit"> <i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    </form>

                    
                </div>
            </div>
        </div>
    </div>
</div>
